@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Tailwind colors listed here: https://tailwindcss.com/docs/customizing-colors
    
    Why colors are written in rgb format (255 255 255) instead of hex (#ffffff)
    https://tailwindcss.com/docs/customizing-colors#using-css-variables 
*/
@layer base {

    /* light theme */
    .theme-bubblegum {
        /* Custom #8AE6FB */
        --color-primary-blue: 138 230 251;
        /* Tailwind lime-300 #bef264 */
        --color-primary-green: 190 242 100;
        /* Custom #FFDE69 */
        --color-primary-yellow: 255 222 105;

        /* Custom #3e3355 */
        --color-text-body: 0 0 0;
        /* Custom #3e3355 */
        --color-text-heading: 0 0 0;

        --color-text-sub-heading: 188 71 73;
        --color-text-sub-heading-card: 57 0 153;
        /* Custom #3e3355 */
        --color-text-bold: 0 0 0;
        /* Tailwind slate-500 #64748b */
        --color-text-muted: 100 116 139;
        /* Tailwind cyan-500 #06b6d4 */
        --color-text-link: 6 182 212;
        /* black */
        --color-text-code: 0 0 0;
        /* black */
        --color-text-selection: 0 0 0;

        /* white */
        --color-bg-body: 240 240 240;
        --color-bg-card: 255 255 255;

        --color-bg-card-border: 2 62 138;
        /* tailwind amber-100 #fef3c7 */
        --color-bg-code: 254 243 199;
        /* tailwind lime-200 #d9f99d */
        --color-bg-selection: 217 249 157;

        /* tailwind orange-100 #ffedd5 */
        --color-border-code: 255 237 213;
    }

    /* dark theme */
    .theme-bubblegum {
        /* Custom #8AE6FB */
        --color-primary-blue: 138 230 251;
        /* Tailwind lime-300 #bef264 */
        --color-primary-green: 190 242 100;
        /* Custom #FFDE69 */
        --color-primary-yellow: 255 222 105;

        /* Custom #3e3355 */
        --color-text-body: 0 0 0;
        /* Custom #3e3355 */
        --color-text-heading: 3 4 94;

        --color-text-sub-heading: 188 71 73;
        --color-text-sub-heading-card: 0 0 0;
        /* Custom #3e3355 */
        --color-text-bold: 0 0 0;
        /* Tailwind slate-500 #64748b */
        --color-text-muted: 100 116 139;
        /* Tailwind cyan-500 #06b6d4 */
        --color-text-link: 6 182 212;
        /* black */
        --color-text-code: 0 0 0;
        /* black */
        --color-text-selection: 0 0 0;

        /* white */
        --color-bg-body: 240 240 240;
        --color-bg-card: 255 255 255;

        --color-bg-card-border: 2 62 138;
        /* tailwind amber-100 #fef3c7 */
        --color-bg-code: 254 243 199;
        /* tailwind lime-200 #d9f99d */
        --color-bg-selection: 217 249 157;

        /* tailwind orange-100 #ffedd5 */
        --color-border-code: 255 237 213;
    }

    :root {
        font-family: theme('fontFamily.body');
        background-color: theme('colors.bg.body');
        color: theme('colors.text.body');
        /* base font-size 1px larger for better visibility */
        font-size: 1.125em;
        line-height: 1.85;
        scroll-behavior: smooth;
    }

    h1 {
        font-family: theme('fontFamily.heading');
        color: theme('colors.text.heading');
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: theme('fontFamily.heading');
        color: theme('colors.text.subHeading');
    }

    p {
        color: theme('colors.text.body')
    }
}

@layer components {

    /* ------ GLOBAL STYLES - START ------ */
    strong {
        font-weight: 600;
        color: theme('colors.text.bold');
    }

    mark {
        background-color: theme('colors.bg.selection');
        color: theme('colors.text.selection');
    }

    .card {
        background-color: theme('colors.bg.card');
        border-color: theme('colors.border.card');




    }

    .card h5 {

        color: white;


    }

    /* 
        if you want an anchor tag to not have this style, 
        just add a class `unset` to it. 
    */




    /* ------ GLOBAL STYLES - END ------ */

    /* ------ REUSABLE UTILS - START ------ */
    /* ------ REUSABLE UTILS - END ------ */
}