---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import IconGithub from "../Icons/IconGithub.astro";
import IconLinkedin from "../Icons/IconLinkedin.astro";
import IconDownload from "../Icons/IconDownload.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import IconPostgresSql from "../Icons/IconPostgresSql.astro";
import IconTypescrip from "../Icons/IconTypescrip.astro";
import IconCss from "../Icons/IconCss.astro";
import IconHtml from "../Icons/IconHtml.astro";
import IconReact from "../Icons/IconReact.astro";
import IconMongo from "../Icons/IconMongo.astro";
import IconNode from "../Icons/IconNode.astro";
import IconReactNative from "../Icons/IconReactNative.astro";
import IconRedux from "../Icons/IconRedux.astro";
import IconAngular from "../Icons/IconAngular.astro";
import IconJava from "../Icons/IconJava.astro";
import IconSpringBoot from "../Icons/IconSpringBoot.astro";
import IconRedis from "../Icons/IconRedis.astro";
import IconDocker from "../Icons/IconDocker.astro";
import LayoutSection from "../layouts/LayoutSection.astro";
---

<Layout title="Mvazquez Porfolio">
	<!-- <header class="bg-slate-50">
		<ul class="flex justify-end">
			<li>About</li>
			<li>Projects</li>
		</ul>
	</header> -->
	<main
		class="flex flex-col justify-center items-center self-center relative w-full backdrop-blur-sm z-0"
	>
		<!-- <div class="absolute z-0 w-full h-full top-0 left-0">
			<svg
				class="blur-3xl w-[30rem] absolute top-0 left-0"
				viewBox="0 0 200 200"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="#FF0054"
					d="M23.4,-43.1C25.3,-39.3,18.5,-23,17,-13.8C15.5,-4.5,19.3,-2.3,21.8,1.4C24.2,5.1,25.4,10.2,27.8,21.1C30.2,31.9,33.9,48.5,29.5,60C25.1,71.4,12.5,77.7,3.4,71.9C-5.8,66.1,-11.6,48.2,-13.6,35.3C-15.5,22.4,-13.6,14.6,-13.3,9.5C-13,4.5,-14.4,2.3,-18.7,-2.5C-23.1,-7.3,-30.4,-14.6,-34,-25.3C-37.7,-36.1,-37.5,-50.4,-31.2,-51.7C-24.9,-52.9,-12.4,-41.2,-0.9,-39.7C10.7,-38.2,21.4,-46.9,23.4,-43.1Z"
					transform="translate(100 100)"></path>
			</svg>
			<svg
				class="blur-3xl w-[30rem] absolute top-0 left-[30rem]"
				viewBox="0 0 200 200"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="#FFBD00"
					d="M47,-71.6C55.1,-58.8,51.9,-37.3,49.6,-21.5C47.4,-5.7,46.1,4.5,42.3,12.9C38.4,21.4,31.9,28.2,24.4,37.6C17,47.1,8.5,59.1,-3.8,64.3C-16.1,69.6,-32.2,68,-40.5,58.8C-48.8,49.7,-49.3,32.9,-55.9,17.1C-62.4,1.3,-75,-13.5,-72.2,-24C-69.5,-34.4,-51.6,-40.3,-37,-51C-22.4,-61.8,-11.2,-77.2,4.1,-82.9C19.5,-88.6,38.9,-84.5,47,-71.6Z"
					transform="translate(100 100)"></path>
			</svg>
			<svg
				class="blur-3xl w-[30rem] absolute top-0 right-[30rem]"
				viewBox="0 0 200 200"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="#FF5400"
					d="M28.2,-32.1C39.2,-30.9,52.5,-26.1,53.9,-18.3C55.4,-10.5,45,0.4,40.6,13C36.2,25.5,37.8,39.8,32,46.4C26.2,53,13.1,51.9,-0.4,52.4C-13.9,53,-27.9,55.3,-34.9,49.1C-41.8,42.9,-41.9,28.3,-45.2,15.3C-48.6,2.3,-55.3,-8.9,-55.8,-21.4C-56.3,-33.9,-50.5,-47.7,-40.1,-49.2C-29.8,-50.6,-14.9,-39.8,-3.1,-35.5C8.6,-31.1,17.3,-33.4,28.2,-32.1Z"
					transform="translate(100 100)"></path>
			</svg>
			<svg
				class="blur-3xl w-[30rem] absolute top-5 right-1"
				viewBox="0 0 200 200"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="#390099"
					d="M61.2,-47.5C73.1,-33.9,72.3,-8.8,65.9,13.4C59.5,35.6,47.6,54.9,31.1,61.8C14.5,68.7,-6.6,63.3,-23.1,53.3C-39.5,43.3,-51.1,28.8,-58.3,9.8C-65.5,-9.3,-68.2,-32.9,-57.7,-46.2C-47.3,-59.6,-23.6,-62.6,0.5,-63C24.6,-63.4,49.3,-61.2,61.2,-47.5Z"
					transform="translate(100 100)"></path>
			</svg>
		</div> -->
		<section
			class="flex flex-col flex-grow h-screen md:w-full justify-center items-center z-20"
		>
			<div class="flex flex-col items-center justify-center">
				<img
					src="Profile.jpeg"
					class="object-cover object-[75%,25%] h-56 w-56 md:h-0 md:opacity-0 opacity-100 md:-translate-y-40 translate-y-0 transition-all duration-500 rounded-full"
				/>
				<h1
					id="animatedTitle"
					class="font-bold md:text-[5vw] leading-loose animate-titleShow text-4xl text-center transition-all duration-500"
				>
					Miguel Vázquez Baldovino
				</h1>
				<h2
					class="md:text-[4vw] animate-subTitleShow text-2xl transition-all duration-500"
				>
					FullStack Developer
				</h2>
			</div>
		</section>

		<section
			id="about"
			class="flex items-center justify-center gap-8 px-4 max-w-7xl"
		>
			<div
				class="hidden w-[50%] items-center justify-center pr-12 md:flex"
			>
				<img
					src="porfolio.jpeg"
					class="object-cover h-52 w-52 rounded-full"
				/>
			</div>
			<article
				class="gap-4 flex-col flex justify-center self-center flex-grow text-left"
			>
				<h2 class="text-4xl text-left">About me</h2>

				<p>
					Desarrollador Fullstack con 4 años de experiencia en
					entornos de trabajo ágiles.
				</p>
				<p>Alta capacidad de aprendizaje y adaptación.</p>
				<p>
					Empecé mi experiecia como <strong>Autónomo</strong>
					 en Septiembre de 2023
				</p>

				<footer class="flex-grow justify-end items-end flex-row flex">
					<a
						href="/curriculum.pdf"
						type="button"
						class="text-black text-center px-4 py-2 self-end text-sm
					flex w-fit items-center gap-2 border-black border-2 rounded-lg hover:backdrop-blur-sm hover:bg-[#0077B6] hover:text-white hover:border-white hover:scale-110 transition-all ease-in-out duration-30"
						onclick=""
						download
					>
						<IconDownload />
						<span>Download CV</span>
					</a>
				</footer>
			</article>
		</section>

		<section id="experience" class="max-w-7xl px-4">
			<LayoutSection title="Experiencia de trabajo">
				<ExperienceCard
					href="https://docs.astro.build/"
					title="Hemera"
					body="Aplicación Web para la gestión de imputación diaria de los empleados de una empresa."
				>
					<div class="px-4 flex-grow" slot="body">
						<h2 class="text-lg font-bold pb-2">Quality Objects</h2>
						<p class="flex-grow text-sm leading-7">
							Aplicación de empresa que permite a los empleados
							imputar las horas trabajadas en cada proyecto, y a
							los jefes de proyecto poder ver las horas imputadas
							por cada empleado en cada proyecto.
						</p>
						<p class="text-sm leading-7">
							También permite registrar las vacaciones,
							subvenciones, ausencias de los empleados y sirve de
							calendario laboral
						</p>
					</div>
					<div
						class="flex flex-wrap gap-1 justify-center items-center"
						slot="tech"
					>
						<IconPostgresSql />
						<IconTypescrip />
						<IconCss />
						<IconHtml />
						<IconAngular />
						<IconJava />
						<IconSpringBoot />
						<IconDocker />
						<IconRedis />
					</div>
				</ExperienceCard>
				<ExperienceCard
					href="https://astro.build/integrations/"
					title="Traffic Manager"
					body="Aplicación web para la gestión de tráfico de una ciudad"
				>
					<div class="px-4" slot="body">
						<h2 class="text-lg pb-2 font-bold">Tech Laude</h2>
						<p class="flex-grow text-sm leading-7">
							Es una aplicación de Centro de Control para
							monitorizar la evolución del tráfico, anticiparte a
							las incidencias y gestionarlas, detectar anomalías y
							visualizar cámaras de control de tráfico.
						</p>
						<p class="flex-grow text-sm leading-7 pt-2">
							Permite el almacenamiento y análisis inteligente a
							tiempo real de datos recogidos por distintos
							sensores. Cuenta con herramientas avanzadas de “Deep
							Learning” y “Big Data” que posibilitan modelos
							predictivos que cubren las necesidades actuales de
							los gestores de infraestructuras propias de las
							Smart Cities.
						</p>
					</div>
					<div
						class="flex flex-wrap gap-1 justify-center items-center"
						slot="tech"
					>
						<IconPostgresSql />
						<IconTypescrip />
						<IconCss />
						<IconHtml />
						<IconAngular />
						<IconJava />
						<IconSpringBoot />
						<IconDocker />
						<IconRedis />
					</div>
				</ExperienceCard>

				<ExperienceCard
					href="https://astro.build/themes/"
					title="MyHixel"
					body="Aplicación móvil para ayudar a hombres con problemas de eyaculación precoz a mejorar su rendimiento sexual"
				>
					<div class="px-4" slot="body">
						<h2 class="text-lg pb-2 font-bold">Tech Laude</h2>
						<p class="flex-grow text-sm leading-7">
							Aplicación móvil que permite a los hombres controlar
							su clímax, combinando un dispositivo estimulador con
							un programa de ejercicios a medida para cada hombre,
							pudiendo también ver las estadísticas de cada uno de
							los ejercicios y un plan semanal de nutrición y
							fitness.
						</p>
					</div>
					<div class="flex flex-wrap gap-1" slot="tech">
						<IconTypescrip />
						<IconCss />
						<IconHtml />
						<IconReactNative />
						<IconRedux />
						<IconMongo />
						<IconNode />
					</div>
				</ExperienceCard>
				<ExperienceCard
					href="https://astro.build/themes/"
					title="Fantasy Boxing League"
					body="Juego de boxeo para hacer predicciones de los combates"
				>
					<div class="px-4 flex-grow" slot="body">
						<h2 class="text-lg pb-2 font-bold">ShowbizzTheAdult</h2>
						<p class="flex-grow text-sm leading-7">
							Juego de boxeo en el cual los usuarios predicen los
							resultados de los combates de boxeo, y ganan puntos
							en función de los aciertos. Los usuarios competirán
							entre ellos para ver quien es el que más puntos
							consigue en una temporada.
						</p>
					</div>

					<div class="flex flex-wrap gap-1" slot="tech">
						<IconRedux />
						<IconTypescrip />
						<IconCss />
						<IconHtml />
						<IconReact />
						<IconMongo />
						<IconNode />
					</div>
				</ExperienceCard>
			</LayoutSection>
		</section>

		<!-- <LayoutSection
				title="Proyectos Personales"
				ulLayoutClass="grid grid-cols-1 gap-2 md:grid-cols-3 py-4"
			>
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
			
			</LayoutSection> -->

		<div class="flex flex-col gap-4">
			<div class="flex flex-row gap-4">
				<footer>Hecho por magalin 🧑🏻‍🌾</footer>
			</div>
		</div>
	</main>
</Layout>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const animatedTitle = document.getElementById("animatedTitle");
		animatedTitle.classList.remove("w-0", "opacity-0");
		animatedTitle.classList.add("w-auto", "opacity-100");
	});
</script>
<style>
	.html {
		scroll-behavior: smooth;
	}
</style>
