---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import IconGithub from "../Icons/IconGithub.astro";
import IconLinkedin from "../Icons/IconLinkedin.astro";
import IconDownload from "../Icons/IconDownload.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import IconPostgresSql from "../Icons/IconPostgresSql.astro";
import IconTypescrip from "../Icons/IconTypescrip.astro";
import IconCss from "../Icons/IconCss.astro";
import IconHtml from "../Icons/IconHtml.astro";
import IconReact from "../Icons/IconReact.astro";
import IconMongo from "../Icons/IconMongo.astro";
import IconNode from "../Icons/IconNode.astro";
import IconReactNative from "../Icons/IconReactNative.astro";
import IconRedux from "../Icons/IconRedux.astro";
import IconAngular from "../Icons/IconAngular.astro";
import IconJava from "../Icons/IconJava.astro";
import IconSpringBoot from "../Icons/IconSpringBoot.astro";
import IconRedis from "../Icons/IconRedis.astro";
import IconDocker from "../Icons/IconDocker.astro";
import LayoutSection from "../layouts/LayoutSection.astro";
---

<Layout title="Mvazquez Porfolio">
	<!-- <header class="bg-slate-50">
		<ul class="flex justify-end">
			<li>About</li>
			<li>Projects</li>
		</ul>
	</header> -->
	<main
		class="flex flex-col px-8 max-w-7xl justify-center items-center self-center"
	>
		<section
			class="flex flex-col flex-grow h-screen justify-center items-center"
		>
			<h1
				id="animatedTitle"
				class="font-bold text-[6vw] leading-loose animate-titleShow"
			>
				Miguel Vázquez Baldovino
			</h1>
			<h2 class="text-[4vw] animate-subTitleShow a">
				FullStack Developer
			</h2>
		</section>

		<div class="max-w-7xl self-center">
			<section class="flex flex-col items-center justify-center gap-8">
				<div class="flex gap-4 w-full">
					<div
						class="flex flex-grow items-center justify-center pr-12"
					>
						<img
							src="porfolio.jpeg"
							class="object-cover object-top shadow-lg shadow-slate-600 rounded-full"
						/>
					</div>
					<article
						class="gap-4 flex-col flex justify-center self-center flex-grow text-left h-full"
					>
						<h2 class="text-4xl text-left">About me</h2>

						<p>
							Desarrollador Fullstack con 4 años de experiencia en
							entornos de trabajo ágiles.
						</p>
						<p>Alta capacidad de aprendizaje y adaptación.</p>
						<p>
							Empecé mi experiecia como <strong>Autónomo</strong>
							 en Septiembre de 2023
						</p>

						<footer
							class="flex-grow justify-end items-end flex-row flex"
						>
							<button
								type="button"
								class="text-white text-center px-4 py-2 self-end
					flex w-fit items-center gap-2 border-2 border-white rounded-lg"
							>
								<IconDownload />
								<span>Download CV</span>
							</button>
						</footer>
					</article>
				</div>

				<LayoutSection title="Experiencia de trabajo">
					<ExperienceCard
						href="https://docs.astro.build/"
						title="Hemera"
						body="Aplicación Web para la gestión de imputación diaria de los empleados de una empresa."
					>
						<div class="flex flex-wrap gap 2" slot="tech">
							<IconPostgresSql />
							<IconTypescrip />
							<IconCss />
							<IconHtml />
							<IconAngular />
							<IconJava />
							<IconSpringBoot />

							<IconDocker />
							<IconRedis />
						</div>
					</ExperienceCard>
					<ExperienceCard
						href="https://astro.build/integrations/"
						title="Traffic Manager"
						body="Aplicación web para la gestión de tráfico de una ciudad"
					>
						<div class="flex flex-wrap gap 2" slot="tech">
							<IconPostgresSql />
							<IconTypescrip />
							<IconCss />
							<IconHtml />
							<IconAngular />
							<IconJava />
							<IconSpringBoot />
							<IconDocker />
							<IconRedis />
						</div>
					</ExperienceCard>

					<ExperienceCard
						href="https://astro.build/themes/"
						title="MyHixel"
						body="Aplicación móvil para ayudar a hombres con problemas de eyaculación precoz a mejorar su rendimiento sexual"
					>
						<div class="flex flex-wrap gap 2" slot="tech">
							<IconPostgresSql />
							<IconTypescrip />
							<IconCss />
							<IconHtml />
							<IconReactNative />
							<IconRedux />
							<IconMongo />
							<IconNode />
						</div>
					</ExperienceCard>
					<ExperienceCard
						href="https://astro.build/themes/"
						title="ShowbizzTheAdult FBL"
						body="Juego de boxeo para hacer predicciones de los combates"
					>
						<div class="flex flex-wrap" slot="tech">
							<IconRedux />
							<IconPostgresSql />
							<IconTypescrip />
							<IconCss />
							<IconHtml />
							<IconReact />
							<IconMongo />
							<IconNode />
						</div>
					</ExperienceCard>
				</LayoutSection>
			</section>

			<LayoutSection
				title="Proyectos Personales"
				ulLayoutClass="grid grid-cols-1 gap-2 md:grid-cols-3 py-4"
			>
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
				<Card
					href="https://astro.build/integrations/"
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
				/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
			</LayoutSection>
		</div>
		<footer>Hecho por magalin 🧑🏻‍🌾</footer>
	</main>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const animatedTitle = document.getElementById("animatedTitle");
			animatedTitle.classList.remove("w-0", "opacity-0");
			animatedTitle.classList.add("w-auto", "opacity-100");
		});
	</script>
</Layout>
