---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="card w-auto rounded-lg shadow flex flex-col">
	<h2
		class="mb-2 text-xl font-bold tracking-tight rounded-t-lg px-4 py-2 header"
	>
		{title}
	</h2>

	<slot name="body" />

	<footer
		class="footer flex-col gap-2 flex items-center justify-center p-2 rounded-b-lg"
	>
		<slot name="tech" />
	</footer>
</li>
