---
import IconGithub from "../Icons/IconGithub.astro";
import IconLinkedin from "../Icons/IconLinkedin.astro";
import IconWhatsapp from "../Icons/IconWhatsapp.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<button
    id="menuButton"
    class="fixed top-0 left-0 text-green-950 m-8 lg:opacity-0 opacity-100 block z-40 lg:pointer-events-none hover:scale-125 text-[20rem] duration-200 ease-in menu-button transition-all rounded-full backdrop-blur-lg p-1"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-7 h-7"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
</button>
<header
    id="menu"
    class="flex flex-row gap-4 p-2 bg-opacity-10 backdrop-blur-lg w-full fixed px-8 items-center top-0 -translate-y-full lg:translate-y-0 justify-center h-fit z-30 duration-700 ease-in-out transition-all"
>
    <div
        class="fixed lg:relative lg:top-0 top-8 lg:m-2 right-8 lg:right-0 hover:scale-125 text-center items-center justify-center flex z-10"
    >
        <ThemeIcon />
    </div>
    <div
        class="relative flex max-w-7xl w-full self-center flex-col lg:flex-row"
    >
        <nav class="lg:flex self-center flex-grow justify-center items-center">
            <ul
                class="flex flex-col lg:flex-row gap-6 justify-center items-center"
            >
                <li
                    id="homebutton"
                    class="hover:cursor-pointer px-2 py-1 hover:scale-125 p-1 rounded-lg hover:text-[#0077B6] relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#0077B6] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                >
                    <a href="#home"></a>Inicio
                </li>

                <li
                    id="aboutbutton"
                    class="hover:cursor-pointer px-2 py-1 hover:scale-125 p-1 rounded-lg hover:text-[#0077B6] relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#0077B6] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                >
                    <a href="#about"></a>Biografía
                </li>
                <li
                    id="experiencebutton"
                    class="hover:cursor-pointer px-2 py-1 hover:scale-125 p-1 rounded-lg hover:text-[#0077B6] relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#0077B6] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                >
                    <a href="#experience"></a>Experiencia
                </li>
            </ul>
        </nav>
        <nav
            class="ld:flex ld:absolute right-0 top-0 items-center justify-center transition-transform duration-200 mt-12 mb-2 lg:my-2 ld:my-0"
        >
            <ul class="flex flex-row gap-4 items-center justify-center">
                <li class="">
                    <a
                        target="_blank"
                        title="Github personal"
                        href="https://github.com/eaglin"
                        class="flex flex-row gap-1 items-center justify-center
                    hover:scale-125 p-1 rounded-lg hover:text-purple-600 relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-purple-600 after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                        ><IconGithub />Github</a
                    >
                </li>

                <li>
                    <a
                        target="_blank"
                        title="Github personal"
                        href="https://www.linkedin.com/in/mvazbal"
                        class="flex flex-row gap-1 items-center justify-center hover:scale-125 p-1 rounded-lg hover:text-blue-800 transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-blue-800 after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                    >
                        <IconLinkedin />
                         LinkedIn</a
                    >
                </li>
                <li>
                    <a
                        class="flex flex-row gap-1 items-center justify-center hover:scale-125 p-1 rounded-lg hover:text-[#53ea63] transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#53ea63] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                        href="https://wa.me/34644305194"
                        ><IconWhatsapp classProps="h-5 w-5 p-[0.5px]" />
                         WhatsApp</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>

<script>
    const menuButton = document.querySelector("#menuButton");
    const menu = document.querySelector("#menu");

    const aboutSection = document.querySelector("#about");
    const experienceSection = document.querySelector("#experience");

    //Controlar altura del menu

    const menuOptions = document.querySelectorAll("#menu li");

    menuOptions.forEach((option) => {
        option.addEventListener("click", (event) => {
            if (event.target.id.includes("about")) {
                aboutSection.scrollIntoView({
                    behavior: "smooth",
                    block: "center",
                });
            } else if (event.target.id.includes("experience")) {
                experienceSection.scrollIntoView({
                    behavior: "smooth",
                });
            } else {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth",
                });
            }
        });
    });

    menuButton.addEventListener("click", (event) => {
        console.log(event.target.id);
        menu.classList.toggle("translate-y-0");
    });
</script>
