---
import IconGithub from "../Icons/IconGithub.astro";
import IconLinkedin from "../Icons/IconLinkedin.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
    class="flex flex-row gap-4 p-2 bg-opacity-10 backdrop-blur-lg w-full fixed z-40 top-0 px-8 items-center justify-center"
>
    <!-- <div class="hover:scale-125 text-center items-center justify-center flex">
        <ThemeIcon />
    </div> -->
    <div class="relative flex max-w-7xl w-full self-center">
        <nav class="flex self-center flex-grow justify-center items-center">
            <ul class="flex flex-row gap-6">
                <li
                    class="hover:cursor-pointer px-2 py-1 hover:scale-125 p-1 rounded-lg hover:text-[#0077B6] relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#0077B6] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                >
                    <a href="#about"></a>Home
                </li>
                <li
                    class="hover:cursor-pointer px-2 py-1 hover:scale-125 p-1 rounded-lg hover:text-[#0077B6] relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#0077B6] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                >
                    <a href="#about"></a>Experience
                </li>
                <li
                    class="hover:cursor-pointer px-2 py-1 hover:scale-125 p-1 rounded-lg hover:text-[#0077B6] relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-[#0077B6] after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                >
                    <a href="#about"></a>About
                </li>
            </ul>
        </nav>
        <nav class="flex absolute right-0 top-0 items-center justify-center">
            <ul class="flex flex-row gap-4 items-center justify-center">
                <li class="">
                    <a
                        target="_blank"
                        title="Github personal"
                        href="https://github.com/eaglin"
                        class="flex flex-row gap-1 items-center justify-center
                    hover:scale-125 p-1 rounded-lg hover:text-purple-600 relative
                      transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-purple-600 after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                        ><IconGithub />Github</a
                    >
                </li>

                <li>
                    <a
                        target="_blank"
                        title="Github personal"
                        href="https://www.linkedin.com/in/mvazbal"
                        class="flex flex-row gap-1 items-center justify-center hover:scale-125 p-1 rounded-lg hover:text-blue-800 transition-all duration-100 ease-in-out after:absolute after:bottom-0 after:scale-0 after:left-0 after:h-[1px] after:w-full after:bg-blue-800 after:hover:scale-100 after:transition-all after:duration-200 after:ease-in-out"
                    >
                        <IconLinkedin />
                         LinkdIn</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
